*{
    /* background-color: rgb(171, 207, 195); */
    /* overflow: hidden  !important; */
    width: 100.9%;
    /* width: 100% !important; */
    /* 
    font-family: 'Architects Daughter',cursive; 
    background-repeat: no-repeat; */

}
.row{
    /* background-image:  url("https://images.unsplash.com/photo-1461301214746-1e109215d6d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODB8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); */
    overflow:hidden !important;
    /* position: relative; */
    /* background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  */
}
.col-app-header{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: linear-gradient(to bottom,rgba(0,0,0,.3),rgba(0,0,0,.3)),url('./assets/pexels-sophie-dale-5043636.jpg');
    
    /* background-image: url("https://images.unsplash.com/photo-1603910062519-69a9616d34c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHBlYWNlZnVsJTIwbmF0dXJlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); */
/*     
    background-image: url("https://images.unsplash.com/photo-1541617219835-3689726fa8e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Ymx1ZSUyMG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); */
}
h1{
    text-align: center;
    COLOR: WHITE;
    padding-top:5%;font-family: 'Fuzzy Bubbles', cursive;
    font-size: 5vw;
}
h2{
    text-align: center;
    COLOR: WHITE;
    font-weight: bold;
    font-family: 'Grape Nuts', cursive;
}