
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<div class="myForm">
    <!-- on submit, the form shld reset -->
    <!-- quoted = new Quotes("","",0,0,"",new Date()); -->
    <!-- NgModel Creates a FormControl instance from a domain model and binds it to a form control element. -->
    <form (ngSubmit)='addQuote() ;quotesForm.resetForm({})' #quotesForm='ngForm'>
        <div class="form-group">
            <span id="fill">
                Fill form to add Quote
            </span>
            
            <br><br>
          <label for="name">Your Name</label>
          <input type="text" required class="form-control" id="name"
           [(ngModel)]="quoted.name" 
           name="name" 
           #name='ngModel'
            minlength="3">
          <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
            <div *ngIf="name.errors">
                Your name is required.<br>Name is at least 3 characters long.
            </div>
            
          </div> 
        </div>
        <br>
        <div class="form-group">
          <label for="description">Quote</label>
          <textarea class="form-control" 
          id="quote" rows="5" required
           [(ngModel)]="quoted.quote" 
           name="quote"
            #quote='ngModel'
            ></textarea>
          <div *ngIf="quote.invalid && quote.dirty" class="alert alert-danger">
            Quote can not be empty.
            <div *ngIf="quote.errors">
                
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="name">Quote Author</label>
          <input type="text"
           required class="form-control" 
           id="author"
           [(ngModel)]="quoted.author" 
           name="author"
            #author='ngModel'
            minlength="3">
            <div *ngIf="author.invalid  && author.dirty" class="alert alert-danger">
                Input author name <br> Author name is at least 3 characters long.
            </div>
          
        </div>
        <br><br>
        <button [disabled]="!quotesForm.valid"
        type="submit" class="btn">Add Quote</button>
       
        <div *ngIf="!quotesForm.valid" 
        style="font-size:1vw;" 
        >
            Fill all fields to activate button
        </div>
    </form>
</div>

