
*{
    font-family: 'Handlee', cursive;
}
.cards{
    position: relative;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
    
   
}

.list-group-item{
    width: 30vw;
   
}
.cards a{
    margin-top: 2%;
    margin-bottom: 2%;
    /* background-color: #B5C0E6; */
    background-color: #f0f8ff;
 
    box-shadow: 1px 1px 1px 1px #000;
    color:black;
    text-decoration: none;
    padding:2% 2% 2% 2%;
}
.cards svg{
  margin-top:-2%;
  
  
}

